@font-face {
  font-family: "Open Sans";
  src: url("/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
html,
body {
  font-family: "Open Sans", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.site-bg-image {
  background: url("/images/img_background.jpg") center center/cover no-repeat;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: none;
}

:root {
  overscroll-behavior: none;
}

.main-website-wrapper {
  width: 70%;
  max-width: 900px;
  min-width: 320px;
  margin: 0 auto;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.header {
  display: flex;
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  width: 100%;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;
}

.header .nav {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  gap: 1rem;
}

.header a {
  display: flex;
  text-decoration: none;
  color: #343a40;
  font-weight: bold;
  align-items: center;
  gap: 5px;
}

.header a:hover {
  color: #007bff;
}

.markus {
  font-size: 1.5rem;
}

.footer {
  padding: 1rem;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.footer .credentials {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer p {
  margin: 0;
  color: #6c757d;
  line-height: 1.5;
  font-size: 1em;
}

.footer .nav {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  gap: 1rem;
}

.footer a {
  text-decoration: none;
  color: #343a40;
  font-weight: bold;
}

.footer a:hover {
  color: #007bff;
}

.main {
  max-width: 700px;
  flex-grow: 1;
  margin: 0 auto;
  width: 90%;
  padding-bottom: 1rem;
}

.main a {
  text-decoration: none;
  color: #343a40;
  font-weight: bold;
}

.main a:hover {
  color: #007bff;
}

.main h2 {
  font-size: 1.8rem;
}

.main h3 {
  font-size: 1.45rem;
}

.homepage {
  display: flex;
  flex-direction: column;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-right: 1em;
}

.button span:after {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
}

.button:hover {
  color: #007bff;
}

.button.show span:after {
  content: "\00bb"; /* » */
}

.button.hide span:after {
  content: "\00ab"; /* « */
}

figcaption {
  margin-top: 6px;
  text-align: center;
  font-size: 1.2rem;
}

.trip + .trip {
  margin-top: 60px;
}

.singletrip {
  margin-bottom: 60px;
}

.stationlist {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tripText {
  font-size: 18px;
}

.stationContainer {
  font-size: 18px;
}

.stationText {
  max-width: 60ch;
  margin: auto;
}

.arrows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.arrows a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #343a40;
  font-weight: bold;
}

.arrows .leftArrow {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
}

.arrows .rightArrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1;
}

@media (max-width: 768px) {
  body {
    background: white;
  }
  .main-website-wrapper {
    width: 90%;
  }
  .header {
    padding-left: 0;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .site-bg-image {
    background: none;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: none;
  }
  .header .nav {
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    gap: 0.4rem;
  }
  .footer {
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .footer .nav {
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
